*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-navbar{
  display: flex;
font-family: 'Bebas Neue', cursive;
font-size: 2rem;
justify-content: space-between;
background: #333;
top: 0;
z-index: 1;
border-bottom:3px solid #FFD500;
}

.my-navbar .navbar-brand{
  color:#fff;
  font-size: 2rem;
}

.navbar-nav .nav-item .nav-link{
    display: block;
    float: right;
    margin-right:10px;



    text-align: center;
    color: #fff;


     border-radius: 20px;

}

.navbar-nav .nav-item .nav-link:hover{
  color:#fff;
  background-color: #FFD500;

}


body{
  font-size: 10px;
  font-family: Montserrat, sans-serif;;
}
.navbar-primary{
  color:#333
}
/* Navigation Bar */
#navbar{
  display: flex;
  font-family: 'Bebas Neue', cursive;
  justify-content: space-between;
  background: #333;
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar h2 a{
  color: #fff;
  font-size: 2rem;
  text-decoration: none;

}

#navbar li a{
  color:#fff;
  text-decoration: none;
  font-size: 1.7rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#navbar li a:hover{
  background-color: #FFD500;
}

#frontpage{
  background: url(../images/IMG_20191226_141400.jpg) no-repeat center center/cover;
  height: 100%;
  min-height: 100vh;
}

.fp-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height:100vh;
  top:81px;
  left: 0;
  bottom: 0;
  right:0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.container p1{
  font-size: 20px;
}

/* About Page */

#about{
  background-color: #d7d7d7;
  min-height:100vh;
  height: 100%;
}
#about h1{
  font-weight: bold;
  font-size: 3rem;
  padding-top: 10rem;
  margin-bottom: 8rem;
  margin-top:0rem;
  margin-left:8rem;
}


 #about ul{
  margin-left: 8rem;
  font-family: Montserrat;
  font-size: 2rem;
  line-height: 1.2;
  list-style: none;
}

 #about #description{
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  text-align: justify;
}
.edu{
  background-color: #d7d7d7;
  min-height:100vh;
  height:100%;
}
.description {
  font-size: 2rem;
  float: left;
  margin-left: 8rem;
  font-size: 1.5rem;
}

/* .circular--square{
width: 22.5rem;
height: 23.75rem;
margin-top: 10%;
margin-right: 10%;
float: right;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
.picmyself{
  background-image: url("images/propic.jpg");
}

.educ{
  padding:20px;
}

#elem .img{
  width: 500px;
  height:500px;
}

li #elem {
  text-align: center;
 }

.edu {
  min-height:calc(100vh - 10rem) ;
  height: 100%;
}



.university {
  width: 256px;
  height: 256px;
  margin-top: 17%;

  margin-left: 5%;
  margin-right: 5%;
}
.middleschool {
  width: 256px;
  height: 256px;
  margin-top: 5%;

  margin-left: 5%;
  margin-right: 5%;

}
.elemschool {
  width: 256px;
  height: 256px;
  height: auto;
  margin-top: 27%;

  margin-left: 5%;
  margin-right: 5%;

}

.schoolcontainer {
  margin-top: 10%;
}
