{% extends 'pages/navbar.html' %}

{% block content %}
<br><br><br><br><br>

    <h1 class="mt-5 text-center" style="font-weight: 700">Be My Friend!</h1>
<div class="container">
  <form method="POST" class="post-form">
        {% csrf_token %}
        <label style="font-size:20px; font-weight: 600" for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }} <br>
        <label style="font-size:20px; font-weight: 600" for="{{ form.name.id_for_label }}">Hobby</label>
        {{ form.hobby }} <br>
        <label style="font-size:20px; font-weight: 600" for="{{ form.name.id_for_label }}">Favorite Food</label>
        {{ form.favorite_food }} <br>
        <label style="font-size:20px; font-weight: 600" for="{{ form.name.id_for_label }}">Favorite Drink</label>
        {{ form.favorite_drink }} <br>
        <label style="font-size:20px; font-weight: 600" for="{{ form.name.id_for_label }}">Year</label>
        {{ form.year }} <br>


        <button type="submit" class="save btn btn-default" style="background-color: #FFD500">Submit</button>
    </form>
    <br><br>
</div>
<h1 class = "text-center mt-5 mb-5" style="font-weight:700">My Friends!</h1>
<div class=" col-lg-12 col-md-12 col-sm-12">
<div class="row">
<table class="table">
  <thead style="font-size: 25px">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Hobby</th>
      <th scope="col">Favorite Food</th>
      <th scope="col">Favorite Drink</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody style="font-size: 20px">
    {% for person in persons %}
    <tr>
      <td>{{ person.name }}</td>
      <td>{{ person.hobby}}</td>
      <td>{{ person.favorite_food}}</td>
      <td>{{ person.favorite_drink}}</td>
      <td>{{ person.year }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>
</div>
{% endblock %}
