{% extends 'pages/navbar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<body id="homepage">



  <header id="frontpage">
    <div class="fp-content">
      <div class="container">
        <h1 style="font-size: 10vh">HELLO!</h1>
        <p1 style="font-size: 2vh">I'm Akbar Novial, a 19 year old computer science student <br> who's trying to survive university</p1>
      </div>
    </div>
  </header>

  <section id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h1 class="font-weight-bolder ml-5" style="font-size:74px"><strong>A Little Bit <br> About Myself</strong></h1>
          <div class="container-paragraph ml-5">
            <p1 class="text-justify" style="font-size: 24px">I’m a 19 year old computer science student at the University of Indonesia who is easygoing and always eager to learn new skills. <br> Some of my hobbies are playing basketball and video games.</p1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="background:url(static/assets/propiccrop.jpg); background-repeat: no-repeat; min-height: 100vh; background-size: cover; backgroun">
        </div>
      </div>
    </div>
  </section>


  <section class="edu">
    <div class="container-fluid mb-1" style="background-color: #fff; min-width: 99.2vw;width:100%">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center  mt-5">
          <h3 style="font-weight: 600">Elementary School</h3>
          <img class="elemschool mb-4" src="{% static 'assets/school-solid.svg' %}"></img>
          <h5 style="font-weight: 600">SDI Al - Ikhlas <br>(2006 - 2012)</h5>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center mt-5">
          <h3 style="font-weight: 600">Middle School & High School</h3>
          <img class="middleschool mb-3" src="{% static 'assets/school.png' %}"></img>
          <h4 style="font-weight: 600">SMP & SMA <br> Al - Azhar 1 <br>
            (2012 - 2018)
          </h4>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 text-center mt-5">
          <h3 style="font-weight: 600">University</h3>
          <img class="university mb-1" src="{% static 'assets/university.png' %}"></img>
          <h4 style="font-weight: 600">University of Indonesia<br>
            (2018 - present)
          </h4>
        </div>
      </div>
    </div>
  </section>

  <section class="skills">
    <div class="container-fluid mt-4" style="background-color:#d7d7d7; min-width: 99.2vw;width:100%">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-small-12 text-center">
          <h1 class="mt-5" style="font-family: Montserrat; font-weight: 800">Proficient In</h1>
          <div class="col-lg-12 col-md-12 col-small-1 mt-5 mb-5">
            <img class="python" src="{% static 'assets/pythonlogo.png' %}" alt="Python Logo">
            <img class="java" src="{% static 'assets/javalogo.png' %}" alt="Java Logo">
            <img class="html5" src="{% static 'assets/HTML5_Logo_512.png' %}" alt="HTML5 Logo">
            <img class="css3" src="{% static 'assets/css3logo.png' %}" alt="CSS3 Logo" style="width:auto; height:19.5vh">

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container" style="min-height:91vh;height:100%;padding-right: 10%">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-5 pt-5">
          <h1 style="font-weight:800; font-size: 5rem; margin-bottom: 10rem">How to Contact Me</h1>
          <div class="container">
          <img src="{% static 'assets/mail.png' %}" style="width:3rem;height:auto"><p1 style="font-size: 24px; font-weight: bold"> akbarnovial7@gmail.com</p1> </img><br>
            <a href="https://www.facebook.com/akbar.novial"><img src="{% static 'assets/facebook.png' %}" style="width:3rem;height:auto"></a><p1 style="font-size: 24px; font-weight: bold"> Akbar Novial</p1> </img><br>
        <a href="https://www.instagram.com/akbarnovial/?hl=en"> <img src="{%static 'assets/instagram.png' %}" style="width:3rem;height:auto"></a> <p1 style="font-size: 24px; font-weight: bold"> @akbarnovial</p1> </img>
        </div>
        </div>
        <!-- <img src="images/undraw_message_sent_1030.svg" style="height:50vh;width:auto;position: absolute; bottom:0;right:0"> -->
      </div>
    </div>


  </section>


{% include 'pages/yogs.html' %}

{% endblock %}
